body {
    background-color: #333;
    color: aliceblue;
}

header ul .wp-block-navigation__submenu-container {
    background-color: red !important;
    color: #ccc !important;
}
.wp-block-template-part {
    position: sticky;
    color: white;
    top: 0;
    z-index: 1;
}

.wp-block-group {

}

header ul li a:hover,
ul .wp-block-navigation__submenu-container a:hover {
    text-decoration: none;
}
custom-logo {
    width: 1rem;
    border-radius: 0.5rem !important;
}

img {
    border-radius: 0.3rem;
}

footer {
    background-color: #222;
}

footer .wp-block-templete-part {
    background-color: #f71616;
}