body {
    background-color: #333;
    color: aliceblue;
}

header ul .wp-block-navigation__submenu-container {
    background-color: #090c26 !important;
    color: #ccc !important;
}

header ul li a:hover,
ul .wp-block-navigation__submenu-container a:hover {
    text-decoration: none;
}

.wp-block-template-part {
    position: sticky;
    top: 0;
    z-index: 1;
}

.wp-block-group {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.wp-block-group p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: white;
}

.wp-block-spacer {
    margin-bottom: -10px;
}

.custom-logo {
    width: 4rem;
    height: auto;
    border-radius: 0.5rem !important;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-logo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.wp-block-post-excerpt__more-link {
    color: rgb(9, 141, 164);
    cursor: pointer;
}

.wp-block-post-excerpt__more-link:hover {
    color: rgb(11, 181, 211);
    transition: 0.7s;
}

img {
    border-radius: 0.8rem;
}

footer {
    background-color: #101c78;
}

